.loginmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginform {
    width: 25rem;
    /* border: 1px solid black; */
    padding: 15px;
    align-items: center;
}

/* Custom outline color for input field */
.custom-input:focus {
    border-color: #279845;
    box-shadow: none;
}